In [1]:
import pandas as pd

In [2]:
df_happiness = pd.read_csv("world_happiness_2019.csv")
df_happiness.head()

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2019,153,Afghanistan,"2,567","2,628","2,506","0,301","0,356","0,266","0,000","0,135","0,001","1,507"
1,2019,105,Albania,"4,883","4,993","4,773","0,907","0,830","0,846","0,462","0,171","0,025","1,641"
2,2019,100,Algeria,"5,005","5,092","4,918","0,944","1,143","0,745","0,084","0,119","0,129","1,841"
3,2019,55,Argentina,"5,975","6,079","5,870","1,028","1,373","0,850","0,521","0,070","0,060","2,073"
4,2019,116,Armenia,"4,677","4,792","4,562","0,808","1,035","0,776","0,378","0,107","0,105","1,468"

In [3]:
df_regions = pd.read_csv("flourish_regions.csv")
df_regions.head()

,Country,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,8.7,9.1,9.4,9.7,10.0,10.4,10.7,11.0,11.4,...,17.7,18.2,18.8,19.3,19.9,20.5,21.1,21.7,22.3,23.0
1,Albania,38.0,38.5,39.0,39.5,40.0,40.5,41.0,41.5,42.0,...,51.0,51.8,52.5,53.3,54.0,54.8,55.5,56.3,57.0,57.7
2,Algeria,37.2,38.0,38.9,39.7,40.5,41.4,42.2,43.0,43.8,...,55.0,55.8,56.6,57.4,58.2,59.0,59.8,60.5,61.3,62.0
3,Andorra,53.9,54.5,55.0,55.5,56.0,56.4,56.8,57.2,57.5,...,61.8,62.0,62.2,62.5,62.7,62.9,63.1,63.3,63.5,63.7
4,Angola,11.2,11.6,12.0,12.4,12.7,13.1,13.6,14.0,14.4,...,21.7,22.3,22.9,23.6,24.2,24.8,25.5,26.2,26.8,27.5

In [4]:
list_countries_happiness = df_happiness["Country name"].values
len(list_countries_happiness)

153

In [5]:
list_countries_flourish = df_regions["Country"].values
len(list_countries_flourish)

188

In [6]:
list_in_happiness = list(set(list_countries_happiness) - set(list_countries_flourish)) # 20
list_in_flourish = list(set(list_countries_flourish) - set(list_countries_happiness)) # 55

In [7]:
import difflib

In [8]:
for word in list_in_flourish:
    similar = difflib.get_close_matches(word, list_countries_happiness, n=3)
    if len(similar) == 0:
        print(f"'{word}': '',")
    else:
        print(f"'{word}': '{similar}',")

'Fiji': '',
'Eritrea': '',
'Laos': '',
'Russia': '['Tunisia', 'Austria']',
'Suriname': '',
'South Korea': '['South Africa', 'South Sudan']',
'Qatar': '['Malta']',
'Turkey': '['Türkiye']',
'Cook Islands': '',
'Syria': '['Serbia']',
'Cuba': '',
'Nauru': '',
'Grenada': '['Canada']',
'São Tomé and Príncipe': '',
'Tonga': '['Togo', 'Mongolia', 'Congo']',
'Marshall Islands': '',
'Oman': '',
'Solomon Islands': '',
'Andorra': '',
'Equatorial Guinea': '',
'Brunei': '['Burundi']',
'Bhutan': '',
'Dominica': '['Romania', 'Dominican Republic']',
'Somalia': '['Romania']',
'Vanuatu': '',
'Moldova': '',
'Vietnam': '['Viet Nam']',
'Angola': '['Mongolia']',
'Belize': '['Belgium']',
'Saint Vincent and the Grenadines': '',
'Eswatini': '['Estonia']',
'Guyana': '['Ghana', 'Guinea', 'Myanmar']',
'Barbados': '',
'The Gambia': '['Gambia', 'Zambia']',
'Palau': '['Paraguay', 'Malta']',
'Niue': '['Niger']',
'North Korea': '['North Cyprus']',
'Cape Verde': '',
'Czech Republic': '['Central African Republic', 'Dominican Republic']',
'Saint Lucia': '',
'Saint Kitts and Nevis': '',
'Guinea-Bissau': '['Guinea']',
'Kiribati': '',
'East Timor': '',
'North Macedonia': '['Macedonia']',
'Tuvalu': '',
'Papua New Guinea': '',
'Seychelles': '',
'Antigua and Barbuda': '',
'Ivory Coast': '',
'Democratic Republic of the Congo': '',
'Samoa': '['Cambodia']',
'United States of America': '['United States']',
'Djibouti': '',
'Republic of the Congo': '['Republic of Moldova', 'Republic of Korea']',

In [9]:
in_happiness_subs_2019 = {
    'Côte d’Ivoire': 'Ivory Coast',
    'Macedonia': 'North Macedonia',
    'DR Congo': 'Democratic Republic of the Congo',
    'South Sudan': '',
    'Russian Federation': 'Russia',
    'Türkiye': 'Turkey',
    'State of Palestine': '',
    'Czechia': 'Czech Republic',
    'Republic of Moldova': 'Moldova',
    'Republic of Korea': 'South Korea',
    'Taiwan Province of China': '',
    'North Cyprus': '',
    'Lao PDR': 'Laos',
    'Gambia': 'The Gambia',
    'Hong Kong SAR of China': '',
    'Swaziland': 'Eswatini',
    'United States': 'United States of America',
    'Congo': 'Republic of the Congo',
    'Kosovo': '',
    'Viet Nam': 'Vietnam'
}

In [33]:
df_happiness_cp = df_happiness.copy()
list_country_erros = list(in_happiness_subs_2019.keys())

list_deleted = [country for country in list_country_erros if in_happiness_subs_2019[country] == '']
df_happiness_cp_cleaned = df_happiness_cp[~df_happiness_cp["Country name"].isin(list_deleted)]
df_happiness_cp_cleaned

,Year,Rank,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2019,153,Afghanistan,"2,567","2,628","2,506","0,301","0,356","0,266","0,000","0,135","0,001","1,507"
1,2019,105,Albania,"4,883","4,993","4,773","0,907","0,830","0,846","0,462","0,171","0,025","1,641"
2,2019,100,Algeria,"5,005","5,092","4,918","0,944","1,143","0,745","0,084","0,119","0,129","1,841"
3,2019,55,Argentina,"5,975","6,079","5,870","1,028","1,373","0,850","0,521","0,070","0,060","2,073"
4,2019,116,Armenia,"4,677","4,792","4,562","0,808","1,035","0,776","0,378","0,107","0,105","1,468"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2019,99,Venezuela,"5,053","5,179","4,927","0,770","1,349","0,767","0,272","0,087","0,064","1,745"
149,2019,83,Viet Nam,"5,353","5,420","5,287","0,718","1,253","0,819","0,651","0,136","0,090","1,686"
150,2019,146,Yemen,"3,527","3,634","3,421","0,393","1,177","0,415","0,244","0,095","0,087","1,116"
151,2019,141,Zambia,"3,759","3,878","3,640","0,537","0,896","0,364","0,491","0,251","0,087","1,134"
152,2019,151,Zimbabwe,"3,299","3,414","3,184","0,426","1,048","0,375","0,377","0,151","0,081","0,841"

In [34]:
df_happiness_cp_cleaned["Country name"].replace(in_happiness_subs_2019, inplace=True)

/tmp/ipykernel_5181/2623201639.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_happiness_cp_cleaned["Country name"].replace(in_happiness_subs_2019, inplace=True)
/tmp/ipykernel_5181/2623201639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_happiness_cp_cleaned["Country name"].replace(in_happiness_subs_2019, inplace=True)

In [35]:
df_happiness_cp_cleaned["Country name"].values

array(['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Belarus', 'Belgium', 'Benin', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Republic of the Congo', 'Costa Rica', 'Ivory Coast', 'Croatia',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominican Republic',
       'Democratic Republic of the Congo', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Lithuania', 'Luxembourg', 'North Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'South Korea', 'Moldova', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'Eswatini', 'Sweden',
       'Switzerland', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)